/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  font-family: Arial, sans-serif;
  animation: backgroundChange 10s infinite;
}

@keyframes backgroundChange {
  0% {
    background-color: #c1e7e3;
  }
  16.67% {
    background-color: #dcfffb;
  }
  33.33% {
    background-color: #ffdcf4;
  }
  50% {
    background-color: #dabfde;
  }
  66.67% {
    background-color: #c1bbdd;
  }
  83.33% {
    background-color: #edccb4;
  }
  100% {
    background-color: #dfe4dc;
  }
}

h1 {
  text-align: center;
}

#game {
  position: relative;
  width: 800px;
  height: 600px;
  border: 3px solid black;
  margin: 20px auto;
}

.player {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.1s ease;
}

.tagger {
  border: 2px solid red;
}

#game:focus {
  outline: none;
}
